* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%); /*off black*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    color: white;
    font-family: "Inter";
    padding: 10px;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 15px auto 10px;
}

h2 {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 600;
    margin: 5px;
}

h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 10px 25px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 12%); /*dark grey*/
    border-radius: 15px;
    padding: clamp(20px, 5%, 30px);
    width: min(350px, 80vw);
}

.card img {
    border-radius: 50%;
    max-width: 176px;
    margin: 10px 35%;
    display: inline-block;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 15px;
    max-width: 100%;
}

.buttons a {
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%); /*grey*/
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: background-color 500ms linear,
                color 400ms linear;
}

.buttons a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    text-decoration: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 10px;
}

.attribution a {
    color: #fff8e7;
}

.attribution a:hover {
    color: #f2f3f4;
}

@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}